/* latin-ext */
@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(https://fonts.gstatic.com/s/lilyscriptone/v4/uPWsLVW8uiXqIBnE8ZwGPKW9WqC4OJJkfgA_jCJuPCQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(https://fonts.gstatic.com/s/lilyscriptone/v4/uPWsLVW8uiXqIBnE8ZwGPCJccsb45t3MJKcv5BJtrIs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.demo {
  width:260px;
  height:450px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  overflow: hidden;
}

.logo{
  position:absolute;
  top:50%;
  left:50%;
  width:250px;
  height:295px;
  transform:translate(-50%,-50%);
}

.lynt-text{
  position:absolute;
  top:50%;
  left:50%;
  width:250px;
  height:100px;
  transform:translate(-50%,-50%);
  z-index:-1;
}

.fades{
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}

.slide-over{
  transition: width .6s;
  -webkit-transition: width .6s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}

.rises{
  transition: top .7s;
  -webkit-transition: top .7s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  visibility: hidden;
}

.flips{
  transition: transform .5s, left .5s;
  -webkit-transition: transform .5s, left .5s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}

#right-wallet-box{
  position:absolute;
  top:70%;
  right:127px;
  transform: translate(100%, -50%);
  z-index:4;
}

#right-wallet{
  width:125px;
}

#left-wallet-box{
  position:absolute;
  top:70%;
  left:127px;
  transform: translate(-100%, -50%);
  width:125px;
  height:100px;
  z-index:3;
}

#left-wallet{
  position:absolute;
  left:100%;
  top:-140px;
  width:125px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

#pocket-box{
  position:absolute;
  top:32%;
  right:0px;
  overflow:hidden;
  width:0px;
  height:100px;
  z-index:0;
}

#pocket{
  position:absolute;
  right:0;
  width:250px;
}

#lint-box{
  position:absolute;
  left:50%;
  top:50%;
  width:60%;
  height:50%;
  transform:translate(-50%, -71%);
  z-index:2;
}

#lint-1{
  position:absolute;
  top:100%;
  left:50%;
  width:45px;
  transform:translate(-50%, -50%);
}

#lint-2{
  position:absolute;
  top:100%;
  left:5px;
  width:28px;
  transform:translate(-50%, -50%);
}

#lint-3{
  position:absolute;
  top:100%;
  left:150px;
  width:28px;
  transform:translate(-50%, -50%);
}

#lynt{
  position:absolute;
  top:0%;
  left:50%;
  transform:translate(-50%, 0%);
  opacity:0;
}

/*#ell{

}

#why{

}

#enn{

}

#tee{

}*/
