<div ng-controller="DemoCtrl" class="container" style="position:relative;width:900px;">
  <div id="phone">
    <div id="screen">
      <div ui-view={{view}} style="width:260px;height:450px;position:relative;"></div>
    </div>
    <div ng-click="test()" id="phone_button"></div>
  </div>
  <div id="appdown">
    <div style="text-align:center;">
      <h1>Download Lynt Now!</h1>
    </div>
    <div style="position:relative;width:100%;height:35px;">
      <img src="../img/apple-store-badge.svg" style="position:absolute;left:0;width:auto;height:35px;"/>
      <img src="../img/google-play-badge.png" style="position:absolute;right:0;width:auto;height:35px;"/>
    </div>
  </div>
</div>
