<div style="background-color:rgba(88,88,88,.8);">
  <nav class="navbar navbar-default" style="border-radius:0;">
    <div class="container">
      <div class="navbar-left">
        <button type="button" class="btn btn-default" aria-label="Menu">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <span>Home</span>
      </div>
    </div>
  </nav>
  <div id="home-content">
    <div class="panel panel-default" style="margin-left:5px;margin-right:5px;box-shadow: 10px 10px 5px #444444;border:5px solid rgba(0,187,219,.4);">
      <div class="panel-heading" style="background-color:rgba(0,187,219,.4);text-align:center;">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="display:inline-block;"></span>
        <h3 class="panel-title" style="display:inline-block;">New Lynt!</h3>
      </div>
      <div class="panel-body">
        <p>Jone's Coffee Roasters: <span style="color:rgb(0,187,219);">10%</span></p>
        <p><span class="glyphicon glyphicon-time" aria-hidden="true" style="display:inline-block;">: </span><span style="color:rgb(219,0,0);">1:00pm-2:00pm</span></p>
        <p style="display:inline-block;">Store Rating: </p>
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="display:inline-block;color:rgb(219,187,0);"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="display:inline-block;color:rgb(219,187,0);"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="display:inline-block;color:rgb(219,187,0);"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="display:inline-block;color:rgb(219,187,0);"></span>
        <div></div>
        <p style="display:inline-block;">Pricing: </p>
        <span class="glyphicon glyphicon-usd" aria-hidden="true" style="display:inline-block;color:rgb(0,187,80);"></span>
        <span class="glyphicon glyphicon-usd" aria-hidden="true" style="display:inline-block;color:rgb(0,187,80);"></span>
        <div style="margin:auto;border-radius:4px;box-shadow: 2px 2px 5px #777777;">
          <p style="color:rgb(0,187,219);text-align:center;font-weight:bold;">Redeem</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="margin-left:5px;margin-right:5px;">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-user" aria-hidden="true" style="display:inline-block;"></span>
        <h3 class="panel-title" style="display:inline-block;">Lynt Profile</h3>
      </div>
      <div class="panel-body">
        <p>Balance: $5.00</p>
        <p>Total Saved: $35.00</p>
        <p>Avgerage Savings: 13.2%</p>
      </div>
    </div>
    <div class="panel panel-default" style="margin-left:5px;margin-right:5px;">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true" style="display:inline-block;"></span>
        <h3 class="panel-title" style="display:inline-block;">Linked Accounts</h3>
      </div>
      <div class="panel-body">
        <button type=button class="alert alert-danger" role="alert" style="width:100%;">
          <span class="glyphicon glyphicon-plus" style="display:inline-block;" aria-hidden="true"></span>
          No linked accounts!
        </button>
      </div>
    </div>
  </div>
</div>
