<div ng-controller="HomeCtrl" ng-init="animateHome()" class="demo">
  <div id="home-bar">
    <icon-bar class="glyphicon glyphicon-menu-hamburger" style="color:white;display:block;float:left;font-size:1.4em;margin:10px;"/>
    <p style="color:white;display:block;float:left;font-size:1em;margin:10px;padding:0;">Home</p>
  </div>
  <div id="lynt-wallet">
    <div style="position:absolute;top:0%;left:50%;transform:translateX(-50%);color:white;height:80px;">
      <p style="font-size:2.5em;padding:0;margin:0;">$34.50</p>
      <img src="../../img/wallet.svg" style="width:65px;padding:0;margin:0;position:absolute;bottom:0;left:50%;transform:translateX(-50%);"/>
    </div>
  </div>

  <div id="new-lynt" class="slides-down-short">
    <div style="position:absolute;left:0%;top:50%;transform:translateY(-50%);">
      <img src="../../img/little_lint.svg" style="width:25px;margin-left:10px;"/>
    </div>
    <div style="height:50px;">
      <p style="margin-left:40px;margin-top:15px;color:white;display:block;float:left;">Copa Vida</p>
      <p style="margin-right:40px;margin-top:15px;color:#00bbdb;display:block;float:right;">1h
        <span>
          <icon-bar class="glyphicon glyphicon-time" style="color:white;"/>
        </span>
      </p>
      <icon-bar class="glyphicon glyphicon-chevron-down" style="margin-right:10px;color:white;position:absolute;right:0;top:50%;transform:translateY(-50%);"/>
    </div>

  </div>
  <div id="details" class="slides-down-long">
    <div style="position:relative;padding:0;margin:0;width:100%;height:40px;">
      <p style="position:absolute;top:-5px;left:50%;transform:translateX(-50%);font-weight: bold;font-style:italic;color:white;padding:0px;margin:0px;font-size:2em;">15%</p>
    </div>
    <div style="position:relative;width:80%;height:95px;margin-left:10%;">
      <div style="position:absolute;left:0;top:0;width:50%;height:95px;margin-top:5px;">
        <ol style="list-style:none;color:white;padding:0;margin-left:5px;font-size:1em;">
          <li><p><span>
            <icon-bar class="glyphicon glyphicon-road"/>
          </span>1 min(s).</p></li>
          <li><p><span>
            <icon-bar class="glyphicon glyphicon-piggy-bank"/>
          </span>$6.53</p></li>
          <li><p><span>
            <icon-bar class="glyphicon glyphicon-heart"/>
          </span>9.3/10</p></li>
        </ol>
      </div>
      <div style="position:absolute;right:0;top:0;width:50%;height:95px;">
        <img src="../../img/copa_vide_walk.png" style="height:90px;float:right;margin-right:5px;border:2px dashed white"/>
      </div>
    </div>
    <div style="position:relative;height:95px;width:100%;padding:0;margin:0;">
      <img src="../../img/logo2.png" style="padding:0;margin:0;height:100%;position:absolute;left:50%;top:0%;transform:translateX(-50%);"/>
    </div>
    <div style="position:relative;width:100%;height:45px;padding:5px;">
      <div class="btn" style="width:80px;background-color:#00bbdb;border-radius:5px;color:white;">Grab</div>
      <div class="btn" style="width:80px;background-color:#1c1c1c;border-radius:5px;color:white;">Later</div>
      <div class="btn" style="width:80px;background-color:#db0000;border-radius:5px;color:white;">Pass</div>
    </div>
  </div>
</div>
