<h1>What type of business is it?</h1>
<p>Beauty and Personal Care</p>
<p>Food and Drink</p>
<p>Healthcare and Fitness</p>
<p>Other Use</p>

<h1>Business Category</h1>
<h2>Beauty and Personal Care</h2>
<p>Beauty Salon</p>
<p>Hair Salon/Barbershop</p>
<p>Independant Stylist/Barber</p>
<p>Massage Therapist</p>
<p>Nail Salon</p>

<h2>Food and Drink</h2>
<p>Bakery</p>
<p>Bar/Club/Lounge</p>
<p>Coffee/Tea Shop</p>
<p>Food Truck/Cart</p>
<p>Grocery/Market</p>
<p>Quick Service Restraunt</p>
<p>Sit-Down Restraunt</p>
<p>Specialty Shop</p>
<p>Other</p>

<h2>Healthcare and Fitness</h2>
<p>Acupuncture</p>
<p>Chiropractor</p>
<p>Alternative Medacine</p>
<p>Personal Trainer</p>
<p>Psychiatrist</p>
<p>Massage Therapist</p>
<p>Therapist</p>

<h2>Other Use</h2>
<p>Miscellaneous Goods</p>
<p>Miscellaneous Services</p>
<p>Outdoor Market</p>

<h1>What is your business name?</h1>
<h2>Estimated annual revenue</h2>
<p>$0-$10,000</p>
<p>$10,000 - $50,000</p>
<p>$50,000 - $100,000</p>
<p>$100,000 - $250,000</p>
<p>$250,000 - $500,000</p>
<p>$500,000 - $1M</p>
<p>$1M - $5M</p>
<p>$5M - $10M</p>
<p>$10M - $20M</p>
<p>$20M and above</p>

<h1>Link account using Plaid/Stripe</h1>
